{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block bass %}
<div class="ui stackable grid" > 
<div class="three wide column"></div>
  <div class="ten wide column">
    <div class="ui top attached segment">
        <h3 class="box-title"><center><h1>{% trans "Change Password" %}</h1></center></h3>
    </div>
    <div class="ui bottom attached srgment">
    	<p>{% trans 'Your password is now changed.' %}</p>
    </div>
</div>
</div>
{% endblock %}
