{% extends "index/base.html" %}
{% block bass %}
{% load i18n %}
<div style="display: none;">
{% block head_title %}{% trans "Change Password" %}{% endblock %}
</div>
<div class="box box-primary" style="padding: 1em;"> 
	<div class="box-header with-border">
        <h3 class="box-title"><center><h1>{% trans "Change Password" %}</h1></center></h3>
    </div>
	<div>
	    <form method="POST" action="{% url 'account_change_password' %}" class="ui large form password_change">
	        {% csrf_token %}
	        {{ form.as_p }}
	        <button type="submit" name="action" class="btn btn-primary">{% trans "Change Password" %}</button>
	    </form>
	</div>
</div>

{% endblock %}
