{% extends "account/base.html" %}
{%block bass%}
{% load i18n %}
<div style="display: none;">
{% block head_title %}{% trans "Signup" %}{% endblock %}
</div>
{% block content %}

<div class="box box-primary" style="padding: 1em;"> 
    <div class="box-header with-border">
        <h3 class="box-title"><center><h1>{% trans "Sign Up" %}</h1>
</center></h3>
    </div>
<div>
<p>{% blocktrans %}We don't accept sign-up ! Please contact CC admin for your account details or <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
<form class="ui form signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
</form>
</div>
</div>
{% endblock %}
{% endblock %}