{% load leave_tags %}
<div class="icon title">
    <i class="dropdown icon"></i>
    <b>#{{ leave.id }}: </b>{{ leave.applicant.first_name }} {{ leave.applicant.last_name }} - {{ leave.type_of_leave }}&emsp;&emsp;
      <i class="{% if leave.status == 'accepted' %}green checkmark icon{% elif leave.status == 'rejected' %}red remove icon{% else %}blue refresh icon{% endif %}"></i>&emsp;&emsp;
      <i class="calendar icon"></i>from:  <strong> {{ leave.start_date }}</strong>&emsp;&emsp;-&emsp;&emsp;<i class="calendar icon"></i>to: <strong> {{ leave.end_date }}</strong>
</div>
<div class="content" id ='leave-{{ leave.id }}'>
  <div class="transition visible" id="leave-body-{{ leave.id }}">
      <!-- /.box-tools -->
    <!-- /.box-header -->
        <div class="ui top attached header">
            <h4> <b><a href="{% url 'profile:profile_view' leave.applicant.id %}">{% get_user_dp leave.applicant 'small' %}{{leave.applicant.first_name}} {{leave.applicant.last_name}}</a> applied for {{ leave.type_of_leave }} Leave.</b></h4>
        </div>
        <div class="ui horizontal attached segment">
            <p><b>Purpose: </b>{{ leave.purpose }}</p>
            {% if leave.leave_address %}
            <p><b>Leave Address: </b>{{ leave.leave_address }}</p>
            {% endif %}
        </div>
        <div class="ui bottom attached {% if leave.status == 'accepted' %}positive{% elif leave.status == 'rejected' %}negative{% else %}info{% endif %} icon message">
          <i class="{% if leave.status == 'accepted' %}checkmark{% elif leave.status == 'rejected' %}remove{% else %}refresh{% endif %} icon"></i>
          <div class="content">
            <div class="header">
              <b> Leave status:</b>&emsp;{{ leave.status }} &emsp;
            </div>
            <div class="ui divider"></div>
            {% for req in leave.requests.all %}<p><b><a href="{% url 'profile:profile_view' req.requested_from.id %}">{{ req.requested_from.first_name }}&nbsp;{{ req.requested_from.last_name }}</a>'s&nbsp;Remark: </b> {{ req.remark }}</p>{% endfor%}
          </div>
        </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>
