{% load leave_tags %}
{% load static %}
<div class="icon title" id="leave-request-title-{{ req.leave_request.id }}">
    <i class="dropdown icon"></i>
    <b>#{{ req.leave_request.leave.id }}: </b>{{ req.leave_request.applicant.first_name }} {{ req.leave_request.applicant.last_name }} - {{ req.leave_request.leave.type_of_leave }}&emsp;&emsp;
      <i class="calendar icon"></i>from:  <strong> {{ req.leave_request.leave.start_date }}</strong>&emsp;&emsp;-&emsp;&emsp;<i class="calendar icon"></i>to: <strong> {{ req.leave_request.leave.end_date }}</strong>
</div>
<div class="content" id ='leave-request-{{ req.leave_request.id }}'>
  <div class="transition visible ui segment" id="leave-request-body-{{ req.leave_request.id }}" style="padding:0px;">
      <!-- /.box-tools -->
    <!-- /.box-header -->
        <div class="ui top attached header">
            <h4> <b><a href="{% url 'profile:profile_view' req.leave_request.applicant.id %}">{{req.leave_request.applicant.first_name}} {{req.leave_request.applicant.last_name}}</a> applied for {{ req.leave_request.leave.type_of_leave }} Leave.</b></h4>
        </div>
        <div class="ui horizontal attached segment">
            <p><b>Purpose: </b>{{ req.leave_request.leave.purpose }}</p>
            {% if req.leave_request.leave.leave_address %}
            <p><b>Leave Address: </b>{{ req.leave_request.leave.leave_address }}</p>
            {% endif %}
            <p><a href="{% url 'profile:profile_view' req.leave_request.applicant.id %}">{{req.leave_request.applicant.first_name}} {{req.leave_request.applicant.last_name}}</a>
            requested you to
            {% if req.leave_request.permission == 'academic' %} Academically replace his/her duties
            {% elif req.leave_request.permission == 'admin' %} Administratively replace his/her duties
            {% else %} allow him/her {% endif %} for the given period of absence (leave)</p>
        </div>
        <div class="ui bottom attached blue segment">
          <div class="content ui grid">
            <div class="ui form header eight wide column">
              Remark:<textarea class="right action attached input" type="text" rows="1" id='remark-{{req.leave_request.id}}' required></textarea>
            </div>
            <div class="eight wide column">
            <br><br>
            {% if not req.forward %}
                <button class='ui positive button accept' data='{{ req.leave_request.id }}'> Accept </button>
                <button class='ui negative button reject' data='{{ req.leave_request.id }}'> Reject </button>
            {% else %}
                <button class='ui blue button forward' data='{{ req.leave_request.id }}'> Forward </button>
            {% endif %}
            </div>
          </div>
        </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>



