{% extends 'fusion/base.html' %}
{% block content %}
{% load static %}
{% load leave_tags %}
<div class="ui segment">
  <div class="ui equal width left aligned padded grid">
      <div class="sixteen column profileheader row no-padding" style="background-image: url({% static 'img/4.jpg' %});background-position: center;">
          <div class="column  left floated">
              <div class="ui items">
                  <div class="item">
                      <div class="ui small circular image">
                          {% get_user_dp user '' %}
                      </div>
                      <div class="middle aligned content">
                          <div class="header">
                              {{ user.first_name }}&nbsp;{{ user.last_name }}
                          </div>
                          <div class="meta">
                              <i class="icon briefcase"></i>{{ user.extrainfo.designation.name }} <i class="icon minus"></i> {{ user.extrainfo.department.name }}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="column">
              <div class="description right aligned">
                  <a class="ui circular google plus icon button" href="mailto:{{user.email}}">
                      <i class="google plus icon"></i>&emsp;E-mail
                  </a>
                  <a class="ui circular blue icon button" target="_blank" href="http://web.iiitdmj.ac.in/~{{ user.username }}">
                      <i class="world icon"></i> &emsp;Webpage
                  </a>
                  <div class="ui divider"></div>
                  {% if not user == request.user %}
                  <!-- <button class="ui inverted black button follow">Follow</button> -->
                  {% else %}
                  <a class="ui black labeled icon button edit-profile" href="{%  url 'profile:edit_info' %}"><i class="edit icon"></i>Edit profile</a>
                  {% endif %}
              </div>
          </div>
      </div>
      <div class="ui menu fluid no-radius borderless stackable" style="margin-top:0">
          <a class="item active">About</a>
          <!-- <a class="item">Profile</a> -->
          <div class="right menu">
              <!-- <a class="item">
                  <div class="ui mini statistic">
                      <div class="value">
                          1.6k
                      </div>
                      <div class="label">
                          Followers
                      </div>
                  </div>
              </a>
              <a class="item">
                  <div class="ui mini statistic">
                      <div class="value">
                          102
                      </div>
                      <div class="label">
                          Following
                      </div>
                  </div>
              </a>
              <a class="item">
                  <div class="ui mini statistic">
                      <div class="value">
                          206
                      </div>
                      <div class="label">
                          Activities
                      </div>
                  </div>
              </a> -->
          </div>
      </div>

      <div class="row">
          <div class="ten wide column">
              <div class="ui segment">
                  {{ user.extrainfo.about_me|safe }}
              </div>
          </div>

          <!-- <div class="six wide column">
              <div class="ui segments">
                  
              </div>
          </div> -->
      </div>
  </div>
</div>
{% endblock %}