{% extends 'fusion/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'fusion/semantic-ui/components/dimmer.min.css' %}">
<style type="text/css">
  .profile-input{
    z-index: 999;
    width:100%;
    margin-top: 35%;
    left: 0px;
  }
  .ppin{
    opacity: 0;
  }
  .profile-input:hover{
    cursor: pointer;
  }
</style>


<div class="ui stackable grid">
  <div class="sixteen wide column">
    <div class="ui top attached segment">
      <h3 class="header">Edit Profile</h3>
        <small>&emsp;&emsp;Change your profile picture and write your about me so that everyone can know about you !</small>
    </div>
    <div class="ui bottom attached segment">
      {% if error %}
        <br>
          <p class="errorlist">{{ error }}</p>
        <br>
      {% endif %}

      <form class="ui forms" method="post" action="{% url 'profile:edit_info' %}" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="ui grid">
            <div class="five wide column">
                <div class="ui card">
                  <div class="ui slide masked reveal image">
                    <img class="visible content" src="{% if user.extrainfo.profile_picture %}{{ user.extrainfo.profile_picture.url }}{% else %}{% static 'img/user_avatar.png' %}{% endif %}" id='img-upload'/>
                    <div class="hidden content">
                        <center><input type="file" id="imgInp" style="position: absolute;" class="profile-input ppin" name="profile_picture" onchange="chname(event)"  data-multiple-caption="files selected" multiple/></center>
                        <a class="ui black button profile-input" style="position: relative;top: 7em; z-index: 1;">Select new profile photo</a>
                    </div>
                  </div>
                  <div class="content">
                    <p class="header">Upload New Profile Picture</p>
                    <input type="checkbox" name="remove">Remove current profile picture
                  </div>
                  <div class="extra content">
                    <div class="ui large transparent left icon input">
                      <i class="red heart icon"></i>
                      <input type="text" id="form-control" value="{{ user.extrainfo.profile_picture.name }}" readonly>
                    </div>
                      
                  </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="ten wide column">
                <div class="ui form">
                  <div class="field">
                    <label>About me:</label>
                    <textarea class="ui text field" name="about_me" placeholder="Place some text here"
                          style="width: 100%; padding: 10px;" rows="4">{{ user.extrainfo.about_me|safe }}</textarea>
                  </div>
                </div>
            </div>
            <div style="float: right;">
              <input class="ui positive button" type="submit" name="submit"/>
            </div>
          </div>
          <br><br>
      </form>
    </div>
  </div>
</div>

<script src="{% static 'fusion/semantic-ui/components/dimmer.js' %}"></script>
<script type="text/javascript">
function chname(event){
  $('#form-control').val(document.getElementById('imgInp').value);
}
</script>
<script src="{% static 'bower_components/jquery/dist/jquery.min.js'%}"></script>
<script type="text/javascript">
  $(document).ready( function() {
      $(document).on('change', '.btn-file :file', function() {
    var input = $(this),
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [label]);
    });

    $('.btn-file :file').on('fileselect', function(event, label) {
        
        var input = $('#form-control'),
            log = label;
        
        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }
      
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#img-upload').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function(){
        readURL(this);
    });   
  });
</script>
<!-- <div class="ui black raised segment" style="border-radius: 5px; "> -->
  <!-- <div class="header">
    <a class="ui ribbon label"><h2>{{ title }}</h2></a>
  </div>
<br>

  <form class="ui form" method="post" action="{% url 'profile:edit_info' %}" enctype="multipart/form-data">
  		{% csrf_token %}
  		<div class="ui left floated circular image dimmable">
          <div class="ui dimmer transition hidden">
            <div class="content">
              <div class="center">
              	{% if user.extrainfo.profile_picture %}
      		  			<div class="ui checkbox">
      				      <input type="checkbox" tabindex="0" name="remove" class="hidden">
      				      <label style="color: white; padding-bottom: 1em;">Remove this pic</label>
      				    </div>
  		  		    {% endif %}
      		  		<a class="ui inverted button" style="margin-left:0.22em;padding:1em;padding-bottom: 0px;"><i class="big upload icon" style="padding:0px;position: relative;margin-top: 0em;"></i>
                    <input class="box__file" style="padding-left: 2em;opacity: 0;z-index: 100;position: relative; margin-top: -2.5em;padding-bottom: 2em;" type="file" name="profile-pic" id="file" data-multiple-caption="files selected" multiple />
                    </a>
                  </div>
                </div>
              </div>
          {% if user.extrainfo.profile_picture %}
      		  	<img class="ui left floated medium circular image" id="profile-image" style="width: 17em;" src="{{ user.extrainfo.profile_picture.url  }}" />
      		  	{% else %} 
      		  	<img class="ui left floated medium circular image" id="profile-image" style="width: 17em;" src={% static 'img/user_avatar.png'%}/>
  		    {% endif %}

          <textarea name="about_me"></textarea>
        </div>
  	  <input class="btn btn-success" type="submit" name="submit"/>
  </form>
  
</div>
<script type="text/javascript">
	$('.circular.image.dimmable')
  .dimmer({
    on: 'hover'
  })
;
$('.ui.checkbox')
  .checkbox()
;
</script>
<script type="text/javascript">
	function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#profile-image').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
	}

	$("#file").change(function(){
	    readURL(this);
	});
</script> -->
{% endblock %}




