{% extends 'fusion/base.html' %}
{% block body %}
{% load static %}
<style type="text/css">
   .marginlefting {
   margin-left: 60px !important;
 }
 
 .displaynone {
   display: none !important;
 }
 
 .displayblock {
   display: block !important;
 }
 
 .sidebar .item i {
   font-size: 24px;
   margin-top: -5px !important;
 }
 
 .logo {
   height: 48px !important;
   padding: 10px !important;
 }
 
 .logo img {
   width: 100% !important;
   height: 38px !important;
 }
 
 .title.item {
   padding: .92857143em 1.14285714em !important;
 }
 
 .dropdown .menu .header {
   padding-top: 3.9px!important;
   padding-bottom: 3.9px!important;
 }

 .scrollbar
    {
      margin-left: 30px;
      float: left;
      height: 300px;
      width: 65px;
      background: #F5F5F5;
      overflow-y: scroll;
      margin-bottom: 25px;
    }
    #style-1::-webkit-scrollbar
    {
      width: 0.5%;
      background-color: #F5F5F5;
    }

    #style-1::-webkit-scrollbar-thumb
    {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #555;
    }
</style>
<div class="ui sidebar vertical left menu overlay visible"  style="-webkit-transition-duration: 0.1s; overflow: visible!important;">
  <div class="item logo">
    <!-- <img src="img/logo.png"><img src="img/thumblogo.png" style="display: none"> -->
  </div>
  <div class="ui accordion" id="style-1" style="max-height: 90%; overflow-y: scroll;">
    <div class="ui centered raised item">
        <img src="{% static 'fusion/img/zlatan.jpg' %}" class="ui small circular centered image">

        <br>

        <div class="ui bottom attached inverted" style="text-align: center;">
            <h2 class="ui header">Dr. Atul Gupta</h2>
            <span class="ui meta">Associate Professor</span>
        </div>

    </div>

    <div class="title item">
      <i class="dropdown icon"></i> Leave
    </div>
    <div class="content">
      <a class="item" href="">Apply for Leave
                    </a>
      <a class="item" href="">Applied Leaves
                    </a>
      <a class="item" href="">Leave Requests
                    </a>
    </div>
  </div>
  <a class="ui dropdown item displaynone" tabindex="0" href="/">
    <z>Home</z>
    <i class="icon demo-icon home icon-home"></i>

    <div class="menu" tabindex="-1">
      <div class="header">
        Home
      </div>
    </div>
  </a>
  <div class="ui dropdown item displaynone" tabindex="0">
    <z>Leave</z>
    <i class="icon demo-icon calendar icon-calendar"></i>

    <div class="menu" tabindex="-1">
      <div class="header">
        Leave
      </div>
      <div class="ui divider"></div>
      <a class="item" href="">Apply for Leave
                    </a>
      <a class="item" href="">Applied Leaves
                    </a>
      <a class="item" href="">Leave Requests
                    </a>
    </div>
  </div>
  <!-- <div class="ui dropdown item displaynone" tabindex="0">
    <z>Pages</z>
    <i class="icon demo-icon  icon-params alarm"></i>

    <div class="menu" tabindex="-1">
      <div class="header">
        Layouts
      </div>
      <div class="ui divider"></div>
      <a class="item" href="sidebar.html">Sidebar
                    </a>
      <a class="item" href="menu.html">Nav
                    </a>
      <a class="item" href="animatedicon.html">Animated Icon
                    </a>
      <a class="item" href="box.html">Box
                    </a>
      <a class="item" href="cards.html">Cards
                    </a>
      <a class="item" href="color.html">Colors
                    </a>
      <a class="item" href="comment.html">Comment
                    </a>
      <a class="item" href="embed.html">Embed
                    </a>
      <a class="item" href="faq.html">Faq
                    </a>
      <a class="item" href="feed.html">Feed
                    </a>
      <a class="item" href="gallery.html">Gallery
                    </a>
      <a class="item" href="grid.html">Grid
                    </a>
      <a class="item" href="header.html">Header
                    </a>
      <a class="item" href="timeline.html">Timeline
                    </a>
      <a class="item" href="message.html">Message
                    </a>
      <a class="item" href="price.html">Price
                    </a>
    </div>
  </div> -->
</div>
<div class="pusher">
  <div class="ui menu asd borderless" style="border-radius: 0!important; border: 0; margin-left: 260px; -webkit-transition-duration: 0.5s;">
    <a class="item openbtn" id="openbtn">
      <i class="icon content"></i>
    </a>
    <a class="item" href="/">
        <b>IIIT</b>DMJ<b>Fusion</b>
    </a>
    <a class="item">Messages
                </a>
    <a class="item" href="#">
                <i class="ui active large home icon"></i>
                Dashboard
            </a>

    <div class="right menu">
        <a class="item" href="#">
            <img class="ui avatar image" src="{% static 'fusion/img/zlatan.jpg' %}">
            Atul Gupta
        </a>

        <a class="item">
            <i class="icon mail"></i>
            <div class="ui red label">22</div>
        </a>

        <a class="item">
            <i class="icon users"></i>
            <div class="ui teal label">22</div>
        </a>
        <div class="ui dropdown icon item">
            <i class="settings icon"></i>
            <div class="menu">
                <div class="item">
                    Open...
                </div>
                <div class="item">
                    Save...
                </div>
                <div class="item">Edit Permissions</div>
                <div class="divider"></div>
                <div class="header">
                    Export
                </div>
                <div class="item">
                    Share...
                </div>
                <a class="right item" href="/">
                    <i class="ui sign out icon"></i>
                    Logout
                </a>
            </div>

        </div>
        

    </div>
  </div>
  <div class="ui stackable asd grid" style="border-radius: 0!important; border: 0; margin-left: 260px; -webkit-transition-duration: 0.5s;">
    <div class="fifteen wide column">
      {% block content %}
      {% endblock %}
      {% block bass %}
      {% endblock %}
    </div>
  </div>
</div>
<script src="{% static 'bower_components/jquery/dist/jquery.min.js'%}"></script>
<script type="text/javascript">
  $(document).ready(function(){
  $(".ui.sidebar").toggleClass("very thin icon");
   $(".asd").toggleClass("marginlefting");
   $(".sidebar z").toggleClass("displaynone");
   $(".ui.accordion").toggleClass("displaynone");
   $(".ui.dropdown.item").toggleClass("displayblock");
   $(".logo").find('img').toggle();
  });
</script>
<script type="text/javascript">
   $(".openbtn").on("click", function() {
   $(".ui.sidebar").toggleClass("very thin icon");
   $(".asd").toggleClass("marginlefting");
   $(".sidebar z").toggleClass("displaynone");
   $(".ui.accordion").toggleClass("displaynone");
   $(".ui.dropdown.item").toggleClass("displayblock");

   $(".logo").find('img').toggle();

 });
 $(".ui.dropdown").dropdown({
   allowCategorySelection: true,
   transition: "fade up",
   context: 'sidebar',
   on: "hover"
 });

 $('.ui.accordion').accordion({
   selector: {

   }
 });
</script>

{% endblock %}