{% extends 'fusion/base.html' %}
{% block content %}
{% load static %}
<style type="text/css">label{
        font-weight: 700;
    }
    </style>
<h3 class="ui top attached header">Leave Form</h3>
<div class="ui bottom attached segment">
    
            <!-- /.box-header -->
            <!-- form start -->
    <div class="ui body" style="padding: 1em">
        <div class="ui grid">
        {% if form %}
            <div class="eight wide column">
          		<form class="ui form" role="form" method='post'>
          			<div class="input-group">
                    {% csrf_token %}
                	{{ form.as_p }}
        			</div>
        			<div class="box-footer">
        	            <button class="ui positive button" type="submit" style="float: right;" class="btn btn-success">Submit</button>
        	        </div>
                </form>
            </div>
            {% if request.user.leavescount %}
            <div class="column"><div class="ui vertical divider"></div></div>
            <div class="six wide column segment">

                <table class="ui very basic collapsing celled table">
                    <thead>
                        <tr><th><b>Type of Leave</b></th>
                        <th><b>Remaining Leaves</b></th>
                    </tr></thead>
                    <tbody>
                        <tr class="list-group-item">
                          <b><td class="ui right pointing label red">&emsp;Casual</td></b> <td class="right floated">{{ request.user.leavescount.casual }}</td>
                        </tr>
                        <tr class="list-group-item">
                          <b><td class="ui right pointing label green">&emsp;Special Casual</td></b> <td class="right floated">{{ request.user.leavescount.special_casual }}</td>
                        </tr>
                        <tr class="list-group-item">
                          <b><td class="ui right pointing label blue">&emsp;Restricted</td></b> <td class="right floated">{{ request.user.leavescount.restricted }}</td>
                        </tr>
                        <tr class="list-group-item">
                          <b><td class="ui right pointing label yellow">&emsp;Commuted</td></b> <td class="right floated">{{ request.user.leavescount.commuted }}</td>
                        </tr>
                        <tr class="list-group-item">
                          <b><td class="ui right pointing label purple">&emsp;Earned</td></b> <td class="right floated">{{ request.user.leavescount.earned }}</td>
                        </tr>
                        <tr class="list-group-item">
                          <b><td class="ui right pointing label orange">&emsp;Vacation</td></b> <td class="right floated">{{ request.user.leavescount.vacation }}</td>
                        </tr>
                    </tbody>
                </table>  
            </div>
            {% endif %}
        {% elif message %}
            <div class="ui icon {% if message == 'success' %}success{% endif %} message">
                <i class="close icon"></i>
                <i class="checkmark icon"></i>
                <div class="content">
                    <div class="header">
                        {{ message }}
                    </div>
                    <p>{% if message == 'success' %}&emsp;Successfully Submitted your leave application{% else %}{% endif %}</p>
                </div>
            </div>
        {% endif %}
        </div>
    </div>

</div>

<script src="{% static 'bower_components/jquery/dist/jquery.min.js'%}"></script>
<script type="text/javascript">
    var i=0;
    var options = $('#id_admin_rep option:eq('+i+')');
    while(options.attr('value')!=undefined && i<2000)
    {        
        if(options.attr('value')=='{{request.user.username}}')
        {
            options.remove()
        }
        i=i+1;
        var options = $('#id_admin_rep option:eq('+i+')');

    }

    var i=0;
    var options = $('#id_acad_rep option:eq('+i+')');
    while(options.attr('value')!=undefined && i<2000)
    {        
        if(options.attr('value')=='{{request.user.username}}')
        {
            options.remove()
        }
        i=i+1;
        var options = $('#id_acad_rep option:eq('+i+')');

    }
</script>
{% endblock %}
