{% extends 'index/base.html' %}
{% block content %}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Leave Form</h3>
    </div>
            <!-- /.box-header -->
            <!-- form start -->
    <center>
    <div class="box-body">
  		<form role="form">
  			<div class="input-group">
        	{% for field in form %}
			{{field.label_tag}}&emsp;
			{{field}}<br><br>
			{% endfor %}
			</div>
			<div class="box-footer">
	            <button type="submit" class="btn btn-primary">Submit</button>
	        </div>

        </form>
    </div>
    </center>
</div>

{% endblock %}
