{% extends 'fusion/base.html' %}
{% load static %}
{% load leave_tags %}
{% block extra_head %}
{% endblock %}
{% block content %}


  <div class="ui segment">
    <div class="ui menu top">
      <a class="active item" data-tab="leaves"><i class="icon calendar"></i>Yor Applied Leaves</a>
      {% if request.user.leavescount %}<a class="item" data-tab="leaves-balance"><i class="icon inbox"></i>Yor Leave balance</a>{% endif %}
    </div>

    <div class="ui active tab" data-tab="leaves">
        <div class="ui accordion" style="display: block;">
            <h4 class="text-muted">Total: {{ count }}</h4>
            {% for leave in leaves %}
                {% get_leave leave request.user %}
            {% endfor %}
            {% if count == 0 %}
                <h4 class="text-muted">No Leave applied !</h4>
            {% endif %}
        </div>
    </div>
    {% if request.user.leavescount %}
    <div class="ui tab" data-tab="leaves-balance">
        <div class="ui accordion" style="display: block;">
            <center>
            <table class="ui very basic collapsing celled table">
                <thead>
                    <tr><th><b>Type of Leave</b></th>
                    <th><b>Remaining Leaves</b></th>
                </tr></thead>
                <tbody>
                    <tr class="list-group-item">
                      <b><td class="ui right pointing label red">&emsp;Casual</td></b> <td class="right floated">{{ request.user.leavescount.casual }}</td>
                    </tr>
                    <tr class="list-group-item">
                      <b><td class="ui right pointing label green">&emsp;Special Casual</td></b> <td class="right floated">{{ request.user.leavescount.special_casual }}</td>
                    </tr>
                    <tr class="list-group-item">
                      <b><td class="ui right pointing label blue">&emsp;Restricted</td></b> <td class="right floated">{{ request.user.leavescount.restricted }}</td>
                    </tr>
                    <tr class="list-group-item">
                      <b><td class="ui right pointing label yellow">&emsp;Commuted</td></b> <td class="right floated">{{ request.user.leavescount.commuted }}</td>
                    </tr>
                    <tr class="list-group-item">
                      <b><td class="ui right pointing label purple">&emsp;Earned</td></b> <td class="right floated">{{ request.user.leavescount.earned }}</td>
                    </tr>
                    <tr class="list-group-item">
                      <b><td class="ui right pointing label orange">&emsp;Vacation</td></b> <td class="right floated">{{ request.user.leavescount.vacation }}</td>
                    </tr>
                </tbody>
            </table>
            </center>
        </div>
    </div>
    {% endif %}

  </div>


{% endblock %}
