{% extends 'index/base.html' %}
{% load static %}
{% load leave_tags %}
{% block extra_head %}
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js'%}"></script>
    <script src="{% static 'leave_application/js/process_request.js' %}" type='text/javascript' ></script>
    <script src="{% static 'bower_components/jquery-slimscroll/jquery.slimscroll.min.js'%}"></script>
<!-- FastClick -->
<script src="{% static 'bower_components/fastclick/lib/fastclick.js'%}"></script>
    </script>
{% endblock %}
{% block content %}

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#unprocessed" data-toggle="tab">Unprocessed Leave Reqeusts</a></li>
      <li><a href="#processed" data-toggle="tab">Processed Leave Request</a></li>
    </ul>
    <div class="tab-content">
      <div class="active tab-pane" id="unprocessed">
        <!-- The timeline -->
        <div class="box-body">
            <div class="box-outline-soft">
                <div class="box-header with-border">
                    <h4><b>All Unprocessed Leave Requests  <i class="fa fa-angle-down"></i></b></h4>
                </div>
                <div class="box-body">
                    <h4 class="text-muted">Total: {{ count }}</h4>
                    {% for req in requests %}
                        {% get_leave_request req request.user %}
                    {% endfor %}
                    {% if count == 0 %}
                        <h4 class="text-muted">No Leave Requests to process !</h4>
                    {% endif %}
                </div>
            </div>
        </div>
      </div>
      <!-- /.tab-pane -->

      <div class="tab-pane" id="processed">
        <div class="box-body">
            <div class="box-outline-soft">
                <div class="box-header with-border">
                    <h4><b>All Processed Leave Requests  <i class="fa fa-angle-down"></i></b></h4>
                </div>
                <div class="box-body">
                {% for preq in prequests %}
                    {% get_processed_request preq request.user %}
                {% endfor %}
                </div>
            </div>
        </div>
      </div>
      <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
</div>
{% endblock %}
