{% extends 'fusion/base.html' %}
{% load static %}
{% load leave_tags %}
{% block extra_head %}
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js'%}"></script>
{% endblock %}
{% block content %}


  <div class="ui segment sixteen wide column">
    <div class="ui menu top">
      <a class="active item" data-tab="processed"><i class="icon fire"></i>Unprocessed Requests</a>
      <a class="item" data-tab="unprocessed"><i class="icon archive"></i>Processed Requests</a>
    </div>
    
    <div class="ui active tab" data-tab="processed">
        <div class="ui accordion" style="display: block;">
            <h4>Total: <p  id="processed-count" style="display: inline;">{{ count }}</p></h4>
            {% for req in requests %}
                {% get_leave_request req request.user %}
            {% endfor %}
            {% if count == 0 %}
                <h4 class="text-muted">No Leave Requests to process !</h4>
            {% endif %}
        </div>
    </div>
    <div class="ui tab" data-tab="unprocessed">
        <div class="ui accordion filtr-container" style="display: block;">
            {% for preq in prequests %}
                {% get_processed_request preq request.user %}
            {% endfor %}
        </div>
    </div>

  </div>
<script type="text/javascript">
    $('.top.menu .item').tab();
</script>
<script type="text/javascript" src="{% static 'leave_application/js/process_request.js' %}"></script>
{% endblock %}
